.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  position: relative;
}
.badge {
  padding: 8px 16px !important;
  box-shadow: 1px 2px 4px 0 #ccc;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
}
