.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.badge {
  padding: 8px 16px !important;
  box-shadow: 1px 2px 4px 0 #ccc;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
  background: #f35b04;
  color: #fff;
}

.badge-intro {
  padding: 8px 16px !important;
  box-shadow: 1px 2px 4px 0 #ccc;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
  background: #4858ef;
  color: #fff;
  border-radius: 16px !important;
}
